nav {
  background-color: #dc3545;
}

.input-group button:hover {
  background-color: rgba(0, 0, 0, 0.205);
}

.botonLupa {
  background-color: white;
}

main {
  margin-top: 56px;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.centrarImgBanner {
  object-position: 15%;
}

footer {
  background: #1b252f;
  margin-top: auto;
  text-align: center;
}
