* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

.nosotrosContainer {
  width: 100%;
  height: 200px;
  background-color: #333335;
  border-radius: 10rem;
  display: flex;
  padding: 1rem;
  border-left: 3rem solid #ef3e33;
  border-right: 3rem solid #a29f9f;
}

.imgContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 1rem 0 1rem white);
}
